<header>
  <% if logged_in? %>
  <h1><a href="/">Tasklist</a></h1>
  <ul>
    <li>login user : <%= current_user.name %></li>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
  </ul> 
  
  <% else %>
  <div>
    <ul>
      <li><%= link_to 'Signup', signup_path %></li>
      <li><%= link_to 'Login', login_path %></li>
    </ul>
  </div>
  <% end %>
</header>